div.default.container{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p.input-title{
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
}
.green-medium{
  background: linear-gradient(180deg, rgba(6,150,12,1) 4%, rgba(33,228,6,1) 91%, rgba(210,243,30,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-light{
  background: linear-gradient(180deg, rgba(160,243,30,1) 27%, rgba(210,243,30,1) 48%, rgba(245,247,236,1) 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.spinner-icon{
  height: 50px;
}
.loader{
  display: none;
  margin: 20px 0px;
} 
div.loader{
  display: block;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input{
  height: 60px;
  width: 400px;
  font-size: large;
  border-radius: 10px 0px 0px 10px;
  padding: 0px 10px;
  border: none;
  outline: none;
}
.submit-location{
  height: 60px;
  width: 60px;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  border: none;
}
.submit-location:hover{
  color: white;
  background-color: black;
}
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
