.weather-summary-card{
    min-width: 350px;
    background-color: #134601f7;
    padding: 10px 20px 10px 20px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.day-title{
    font-size:20px;
    text-transform: capitalize;
}
.date{
    font-size:15px;
    text-transform: capitalize;
}
.temperature{
    font-size: 20px;
    font-weight: bolder;
}
  /* On screens that are 992px wide or less*/
  @media screen and (max-width: 992px) {
    .weather-summary-card{
      width: 50%;
    }
  }
  
  /* On screens that are 634px wide or less*/
  @media screen and (max-width: 634px) {
    .weather-summary-card{
        width: 100%!important;
        flex-direction: column;
        align-items: center;
        min-width: 200px;
    }
  }