
div.weather-details-card{
    width:fit-content;
    flex-direction: column;
    min-height: 300px;
    background-color: #134601f7;
    padding: 10px 20px 10px 20px;
    margin: 20px 0px 20px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.card-header{
    text-align: end;
}
.card-header>img{
    display: block;
    position: absolute;
}
div.weather-details-card span.title{
    text-transform: capitalize;
    font-size: xx-large;
    font-weight: bolder;
    padding-left: 50px;
}
.card-body{
    display: flex;
    justify-content: space-between;
}

/* On screens that are between 768px and 992px */
@media (min-width: 768px) and (max-width: 992px) {
    div.weather-details-card span.title {
        padding-left: 50px;
    }

    div.weather-details-card{
        max-width: 400px!important;
        min-width: 200px;
        justify-content: center;
    }
    .card-body{
        display: flex;
        flex-wrap: wrap;
    }
}
  
/* On screens that are 634px wide or less */
@media screen and (max-width: 634px) {
    div.weather-details-card{
        max-width: 400px!important;
        min-width: 200px;
        justify-content: center;
    }
    .card-body{
        display: flex;
        flex-wrap: wrap;
    }
}