.app {
  background-color: #134601f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
div{
  box-sizing: border-box;
}
.shadow{
  box-shadow: 10px 5px 10px 0px rgb(0 0 0 / 28%);
}

