.weather-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 30px 0px 30px;
    height: auto;
    background-size: cover;  
    background-repeat: no-repeat;
}
  
.weather-container>div{
    margin: 0px 5px;
}
.prev-button:hover{
    background-color: black;
}

.prev-button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #134601f7;
    color: white;
    display: block;
}

.weather-details-container{
    display: flex;
    justify-content: inherit;
    padding: 20px 30px 0px 20px;
    flex-direction: column;
}
 
/* On screens that are 900px wide or less*/
@media screen and (max-width: 900px) {
    .weather-container{
        flex-wrap: wrap;
        justify-content: center;
        background-attachment: fixed!important;
        background-size: contain!important;  
    }
}
/* On screens that are 634px wide or less*/
@media screen and (max-width: 634px) {
    .weather-details-container{
        padding: 30px 0px 0px 0px;
        max-width: 400px;
    }
    .prev-button{
        width: 50px;
        height: 50px;
    }
    div.weather-summary-list{
        display: flex;
        flex-wrap: wrap;
        max-width: 400px;
        justify-content: center;
    }
}